.App {
  background-color: gainsboro;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: grid;
  grid-template-columns: auto 150px;
  /* 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: gainsboro;
  grid-area: navbar;
}
main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "navbar body";
}
