.App {
  background-color: gainsboro;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.App-header {
  background-color: rgb(67, 168, 126);
  display: grid;
  grid-template-columns: auto 100px;
  height: 100px;
  color: white;
}
.App-header p {
  font-size: 12px;
}
nav {
  background-color: grey;
  grid-area: navbar;
}
nav li {
  padding: 20px 5px;
  list-style: none;
  font-size: 40;
}
nav li :hover {
  font-weight: bolder;
}

nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
li a {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  list-style: none;
  font-size: 40;
  color: black;
}
h2 {
  text-transform: capitalize;
}
h3 {
  font-weight: bold;
}
nav a :hover {
  font-weight: bolder;
}
main {
  min-height: 50em;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "navbar body";
}
@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    text-transform: capitalize;
  }
}
.articleCard {
  background-color: whitesmoke;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  text-align: left;
  max-width: 650px;
}
.articleBody {
  text-align: justify;
  margin: 10px;
  overflow: hidden;
  align-self: center;
}
.truncated {
  max-height: 100px;
}
.avatar {
  height: 50px;
  width: 50px;
}
input {
  width: 95%;
  height: 3rem;
}
button {
  margin: 5px;
}
.commentCard {
  font-size: 14px;
  background-color: white;
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.articles {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.voteUpdater {
  display: flex;
  align-content: center;
}
.fadeout {
  position: relative;
  bottom: 4em;
  height: 4em;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    whitesmoke 100%
  );
}
.darkGrey {
  color: hsla(0, 0%, 0%, 0.493);
  vertical-align: center;
}
.pageControl {
  margin: 5px;
  display: flex;
  align-content: center;
  vertical-align: center;
  text-align: ;
}
p {
  margin: 0px;
}
