.App {
  background-color: gainsboro;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.App-header {
  background-color: rgb(67, 168, 126);
  display: grid;
  grid-template-columns: auto 100px;
  height: 100px;
  /* 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */

  color: white;
}
.App-header p {
  font-size: 12px;
}
nav {
  background-color: grey;
  grid-area: navbar;
}
nav li {
  padding: 20px 5px;
  list-style: none;
  font-size: 40;
}
nav li :hover {
  font-weight: bolder;
}

nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
a {
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  font-size: 40;
  color: black;
}
h2{
  text-transform: capitalize;
}
h3 {
  font-weight: bold
}
a :hover{
  font-weight: bolder;
}
main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "navbar body";
}
@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    text-transform: capitalize;
  }
}
.articleCard {
  background-color: whitesmoke;
  margin:10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.articleBody{
  text-align: justify;
  max-height: 40px;
  overflow: hidden;
}
.avatar{
  height:50px;
  width:50px;
}
input{
  width: 95%;
  height: 3rem;
}
button{
  margin: 5px;
}
.commentCard{
  font-size: 14px;
  background-color: white;
  margin:10px;
  padding: 3px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}


.articleBody :after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 4em;
}